{% extends 'base.html' %}

{% block title %}Signup{% endblock title %}

{% block body %}

<h1 class="text-center">Signup</h1>

<div class="container d-flex justify-content-center">

<div style="max-width:600px">

<form method="post" action="/signup">
{% csrf_token %}
<div class="mb-3">
    <label for="Username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>
  <button type="submit" class="btn btn-primary">SIGNUP</button>
</form>

</div>

</div>

{% endblock body %}
