{% extends 'base.html' %}

{% block title %}Varify Email{% endblock title %}

{% block body %}

<h1 class="text-center">Varify Email</h1>

<div class="container d-flex justify-content-center">

<div style="max-width:600px">

<form method="post" action="/varify">
{% csrf_token %}
<p>Varify your email {{email}}</p>
    <input type="hidden" name="token" value="{{token}}">
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">OTP</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="otp">
  </div>
  <button type="submit" class="btn btn-primary">VARIFY</button>
</form>

</div>

</div>


{% endblock body %}
